@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar" style="width:300px!important">
		<NavMenu />
	</div>

	<div class="d-flex flex-column align-items-stretch w-100">
		<div class="w-100 h-100">
			@Body
		</div>
	</div>
</div>
