@page "/"
@rendermode InteractiveServer

@using LightweightCharts.Blazor.Charts

<PageTitle>Area Series & Auto-Resize</PageTitle>

<div class="w-100 h-100">
	<ChartComponent @ref=ChartComponent AutoResize=true />
</div>
