@page "/candlestickSeries"

@using LightweightCharts.Blazor.Client.Components

<PageTitle>Candlestick Series & Markers</PageTitle>

<div class="w-100 h-100" style="position:relative;">

	<ChartComponent @ref=ChartComponent AutoResize=false />

	<div style="position:absolute;top:0; left:0; z-index: 5; width:auto;" class="m-2">
		@if (_MouseHoverPrices != null)
		{
			@foreach (var price in _MouseHoverPrices)
			{
				<SeriesPriceData Data=@price.DataItem />
			}
		}
	</div>

</div>