@page "/"
@rendermode Configuration.RenderMode

@using LightweightCharts.Blazor.Charts

<PageTitle>Area Series & Auto-Resize</PageTitle>

<div class="w-100 h-100">
	<ChartComponent @ref=ChartComponent />
</div>
