@page "/optionsChart"
@rendermode Configuration.RenderMode

@using LightweightCharts.Blazor.Charts

<PageTitle>Options</PageTitle>

<div style="display: flex; flex-direction: column; height: 100%;">
	<OptionsChartComponent @ref=Options />
</div>
